<div style="padding: 20px;">
    <h2>Tipos de Material</h2>
    <form (ngSubmit)="submeter()">
      <input [(ngModel)]="novoTipo.nome" name="nome" placeholder="Nome (Ex: Alumínio)">
      <input [(ngModel)]="novoTipo.unidade" name="unidade" placeholder="Unidade (Ex: kg)">
      <input [(ngModel)]="novoTipo.categoria" name="categoria" placeholder="Categoria (Ex: Metais)">
      <button type="submit">Guardar Tipo</button>
    </form>
    <table border="1" style="width:100%; margin-top:10px;">
      <tr><th>Nome</th><th>Unidade</th><th>Categoria</th></tr>
      <tr *ngFor="let t of tipos">
        <td>{{t.nome}}</td><td>{{t.unidade}}</td><td>{{t.categoria}}</td>
      </tr>
    </table>
  </div>